version: "3.3"
services:
    judge:
        build: './judge'
        container_name: 'judge'
        image: judge:latest
        command: "serve --listen=${PORT}"
        restart: 'always'
        environment:
            POSTGRES_HOST: ${POSTGRES_HOST}
            POSTGRES_USER: ${POSTGRES_USER}
            POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
            POSTGRES_DB: ${POSTGRES_DB}
            PORT: ${PORT}
            PROBLEM_UPLOAD_FOLDER: ${PROBLEM_UPLOAD_FOLDER}
        ports:
            - "${PORT}:${PORT}"
        volumes:
            - ${PROBLEM_UPLOAD_FOLDER_SRC}:${PROBLEM_UPLOAD_FOLDER}
        depends_on:
            db:
                condition: service_healthy



    db:
        image: postgres:latest
        restart: always
        environment:
            POSTGRES_USER: ${POSTGRES_USER}
            POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
            POSTGRES_DB: ${POSTGRES_DB}
        expose:
            - 5432
        volumes:
            - ${POSTGRES_DATA_FOLDER}:/var/lib/postgresql/data
        healthcheck:
            test: ["CMD", "pg_isready", "-U", "${POSTGRES_USER}"]
            interval: 3s
            timeout: 2s
            retries: 5

    code-runner:
        image: judge:latest
        # build: './judge'
        # container_name: 'code-runner'
        command: "code-runner"
        restart: 'always'
        environment:
            PROBLEM_UPLOAD_FOLDER: ${PROBLEM_UPLOAD_FOLDER}
            PROBLEM_UPLOAD_FOLDER_SRC: ${PROBLEM_UPLOAD_FOLDER_SRC} # abs path on host
            MAX_CONCURRENT_RUNS: ${MAX_CONCURRENT_RUNS}
        expose:
            - 2
        volumes:
            - ${PROBLEM_UPLOAD_FOLDER_SRC}:${PROBLEM_UPLOAD_FOLDER}
            - /var/run/docker.sock:/var/run/docker.sock
    