<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.PageTitle}}</title>
    <link rel="stylesheet" href="/static/main.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

</head>
    <body>
        <nav class="nav-bar">
            <ul class="nav-list">
                <li class="nav-item" data-tooltip="Profile">
                    <a href="/user" class="nav-link" id="profile-nav-btn">
                        <i class="fas fa-user"></i>
                        <span class="nav-text">Profile</span>
                    </a>
                </li>
                <li class="nav-item" data-tooltip="My Submissions">
                    <a href="/user/submissions" class="nav-link" id="submissions-nav-btn">
                        <i class="fas fa-paper-plane"></i>
                        <span class="nav-text">My Submissions</span>
                    </a>
                </li>
                <li class="nav-item" data-tooltip="My Problems">
                    <a href="/problemset?myproblems=yes" class="nav-link" id="myproblems-nav-btn">
                        <i class="fas fa-tasks"></i>
                        <span class="nav-text">My Problems</span>
                    </a>
                </li>
                <li class="nav-item" data-tooltip="Problem Set">
                    <a href="/problemset" class="nav-link" id="problemset-nav-btn">
                        <i class="fas fa-list-alt"></i>
                        <span class="nav-text">Problem Set</span>
                    </a>
                </li>
                <li class="nav-item" data-tooltip="Add Problem">
                    <a href="/problemset/add" class="nav-link" id="add-problem-nav-btn">
                        <i class="fas fa-plus-circle"></i>
                        <span class="nav-text">Add Problem</span>
                    </a>
                </li>
                <li class="nav-item" data-tooltip="Sign Out">
                    <a href="/logout" class="nav-link sign-out">
                        <i class="fas fa-sign-out-alt"></i>
                        <span class="nav-text">Log Out</span>
                    </a>
                </li>
            </ul>
        </nav>
        {{embed}}

    </body> 
</html>