
<body>
    <h2 id="form-title">ورود</h2>
    <div class="tab-links">
        <div id="signin-tab" class="tab-link active" onclick="showTab('signin')">ورود</div>
        <div id="signup-tab" class="tab-link" onclick="showTab('signup')">ثبت نام</div>
    </div>

    <form id="signin-form" action="/signin" method="POST">
        <div id="signin" class="tab active">
            <input type="email" id="signin-email" name="email" placeholder="ایمیل" required>
            <input type="password" id="signin-password" name="password" placeholder="رمز عبور" required>
            <button type="submit" id="signin-button">ورود</button>
        </div>
    </form>

    <form id="signup-form" action="/signup" method="POST">
        <div id="signup" class="tab">
            <input type="email" id="signup-email" name="email" placeholder="ایمیل" required>
            <input type="password" id="signup-password" name="password" placeholder="رمز عبور" required>
            <input type="password" id="confirm-password" name="confirm_password" placeholder="تکرار رمز عبور" required>
            <button type="submit" id="signup-button">ثبت‌نام</button>
        </div>
    </form>
    {{if .Message}}
        <p style="color: red;">{{.Message}}</p>
    {{end}}
    

    <script>
        function showTab(tabName) {
            const tabs = document.querySelectorAll('.tab');
            tabs.forEach(tab => {
                tab.classList.remove('active');
            });
            document.getElementById(tabName).classList.add('active');

            const signinTab = document.getElementById('signin-tab');
            const signupTab = document.getElementById('signup-tab');
            signinTab.classList.remove('active');
            signupTab.classList.remove('active');

            if (tabName === 'signin') {
                signinTab.classList.add('active');
                document.getElementById('form-title').textContent = 'ورود';
            } else {
                signupTab.classList.add('active');
                document.getElementById('form-title').textContent = 'ثبت نام';
            }
        }
    </script>
</body>
